# SQLite database
db.sqlite3

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.log
*.pot
*.mo
*.log.*
local_settings.py
media/
staticfiles/

# macOS
.DS_Store

# IDEs
.idea/
*.sublime-workspace

# Environment
.env